@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Michroma-Font);
  color: var(--Black);
}
body {
  min-height: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(4, 20, 74);
  background: linear-gradient(
    90deg,
    rgba(4, 20, 74, 1) 32%,
    rgba(0, 78, 146, 1) 61%,
    rgba(0, 78, 146, 1) 83%
  );
}
.container {
  height: 100vh;
}
:root {
  --Michroma-Font: "Michroma", sans-serif;
  --BeauRivage-Font: "Beau Rivage", cursive;
  --White: #ffffff;
  --Black: #1d1c1b;
  --NavyBlue: #004e92;
  --LightBlue: #3498db;
  --DarkGrey: #555;
  --DarkBlue: #000428;
  --SuperDarkBlue: #04144a;
}
.upper-logo {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.college {
  font-size: 0.5rem;
  text-align: end;
}
.name {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.informatics,
.college {
  color: var(--White);
}
.upper-logo img {
  width: 50px;
}
/*end of the logo*/
/*start of candidate List*/
.candidate-list {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  /* border: 1px solid var(--White); */
}
.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #2d5c92;
  border-radius: 10px;
}
.candidate-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 1rem;
}
.candidate-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.candidate-details {
  font-size: 0.7rem;
  text-align: center;
}
.candidate-name,
.candidate-position {
  color: var(--White);
}
